.background{
    position: relative;
    text-align: center;
}
#birthdayBackground{
    position: relative;
    height: 100%;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.happy-birthday-annie{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: bold;
    color: orange;
    text-align: center;
    top: 35%;
    right: 10%;
}



