#birthdayBackground{
    position: relative;
    height: auto;
    width: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
#confetti-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.confetti {
    position: absolute;
    z-index: 9999;
}
.confetti-item {
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
}



