html,body{
    margin:0;
}
/*class selector uses .
  list-style-type: none    - removes bullets
  margin: 0, padding: 0    - removes browser default settings
  overflow: hidden         - added to ul to prevent li elements from going outside the list*/
.topNav{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(78, 77, 77); 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*element selector uses just name*/
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color:rgb(78, 77, 77);
    list-style-type: none;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    float:left;
}
/*float: left - float li elements to create a horizontal layout, get block elements to float next to each other
        *can also use display: inline to remove line breaks of li elements*/
/*li{
    float: right;
}*/
/* display: block           - allows us to specify padding (and height, width, margins, etc)
   padding:                 - specify padding between each <a> element
        if padding: Apx Bpx Cpx Dpx; top padding is A, right padding is B, bottom padding is C, left padding is D
        if padding: Apx Bpx Cpx; top is A, right and left are B, bottom is C
        if padding: Apx Bpx; top and bottom are A, left and right are B
        if padding: Apx; all four paddings are A*/
li a{
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}
/* hover - does action when mouseover element*/
li a:hover{
    background-color:rgb(56, 56, 56);
}
/*id selector uses #*/
#indexBackground{
    display:block;
    width:100%; height:100%;
    object-fit: cover;
}

