/*element selector uses just name*/
h1{
    font-family: Arial, Helvetica, sans-serif;  
    color: rgb(169, 169, 169);
}
/*class selector uses .
.nav{
    font-family: Arial, Helvetica, sans-serif
}*/
/*id selector uses # */
#indexBackground{
    height: 100%;
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*ul - unordered list*/
ul{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(169, 169, 169);
}
/*float: left    - makes block elements float next to each other
  display: block - lets us specify padding (and height,width,margins,etc)
  padding: 8px   - specify padding between each <a> element*/
li{
    float: left;
    display: block;
    padding: 8px;
}
