html,body{
    margin:0;
}

/*class selector uses .
  list-style-type: none    - removes bullets
  margin: 0, padding: 0    - removes browser default settings
  overflow: hidden         - added to ul to prevent li elements from going outside the list*/
.topNav{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(78, 77, 77); 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

/*element selector uses just name*/
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255);
    background-color:rgb(78, 77, 77);
    display: block;
    margin: 0;
    padding: 10px 12px;
    text-decoration: none;
    float:left;
}
h1 a:link, h1 a:visited, h1 a:active{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
h1 a:hover{
    background-color:rgb(56, 56, 56);
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

/*float: left - float li elements to create a horizontal layout, get block elements to float next to each other
        *can also use display: inline to remove line breaks of li elements*/
/*li{
    float: right;
}*/
/* display: block           - allows us to specify padding (and height, width, margins, etc)
   padding:                 - specify padding between each <a> element
        if padding: Apx Bpx Cpx Dpx; top padding is A, right padding is B, bottom padding is C, left padding is D
        if padding: Apx Bpx Cpx; top is A, right and left are B, bottom is C
        if padding: Apx Bpx; top and bottom are A, left and right are B
        if padding: Apx; all four paddings are A*/
li a{
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

/* hover - does action when mouseover element*/
li a:hover{
    background-color:rgb(56, 56, 56);
}

.parent{
    position: relative;
    overflow-x: hidden;
}

/*id selector uses #*/
#indexBackground{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#valorantMatchTracker{
    position: absolute;
    top: 5px;
    left: 5px; 
}
