#About{
    height:100vh;
    padding-top: 3.75rem;
}
.about-title{
    text-align: center;
}
.background{
    text-align: center;
    padding-top: 1rem;
}
.timeline{
    font-family: 'Courier New', Courier, monospace;
}
.tech-stack-box{
    text-align: center;
}