*{
    color:white;
    font-family: 'Courier New', Courier, monospace;
}
html,body{
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(58, 68, 75);
}
.preloader{
    height: 100vh;
    background-color: rgb(58, 68, 75);

    /* centers div horizontally */
    display: flex;
    justify-content: center;
}
.pacman{
    position:absolute;
    top:45%;
}
.pretext-container{
    position:absolute;
    bottom:20%;
    text-align: center;
}
.nav-resume:active{
    text-decoration: none;
}