#Contact{
    height:100vh;
    padding-top: 3.75rem;
    text-align: center;
}
.contact-title{
    text-align: center;
}
.copyright-box{
    position: fixed; 
    bottom: 0;
}
.copyright{
    font-size: 1rem;
    text-align: center;
}
.outlined-basic{
    color: white;
}