.home-container{
    height:100vh;
    text-align: center;
}
.mouse{
    position: relative;
    top: 50%;
}
.message-box-row{
    position: relative;
    top: 30%;
    display: flex;
    justify-content: center;
}
.message-box{
    position: relative;
    width: 50%;
}
.message{
    font-size: 1.5rem;
}
.resume-box-row{
    position: relative;
    top: 35%;
    left:25%;
    height:10%;
}
.resume-box{
    position: relative;
    width: 25%;
}
.resume{
    height:45%;
    width: 80%;
    font-size: 1.5rem;
}
.mouse-row{
    position: relative;
    top: 50%;
}
#arrow-down{
    --fa-animation-duration: 3s;
}