.home-container{
    height:100vh;
    text-align: center;
}
.message-box-row{
    position: relative;
    top: 30%;
    display: flex;
    justify-content: center;
    text-align: left;
}
.message-box{
    position: relative;
    width: 50%;
}
@media only screen and (max-width: 600px){
    h1,p {
        font-size: 1.0rem; 
    }
}
@media only screen and (min-width: 601px) {
    h1,p {
        font-size: 1.5rem;
    }
}
.contact-box{
    position: relative;
    left: 25%;
}
.resume-box-row{
    position: relative;
    top: 35%;
    left:25%;
    height:10%;
}
.resume-box{
    position: relative;
    width: 25%;
}
.resume{
    height:45%;
    width: 80%;
    font-size: 1.5rem;
}
.mouse-row{
    position: relative;
    top: 40%;
}
#arrow-down{
    --fa-animation-duration: 3s;
}