.home-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    color:antiquewhite;
}
.name{
    position: absolute;
    top: 0px;
    padding-top: 5px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    
}
.title{
    position: absolute;
    top: 40px;
    left: 30px;
    padding-top: 5px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}
.navbar{
    position: absolute;
    top: 200px;
    padding-left: 115px;
    list-style-type: none; /* removes bullet points */
}
li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    float: left;
    text-decoration: none;
}
.message{
    position: absolute;
    top: 65%;
    left: 40%; 
    font-family: Courier;
    font-size: 22px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}
.github{
    position: absolute;
    padding-top: 5px;
    top: 1.5%;
    right: 9.5%;
    font-size: 50px;
}
.linkedin{
    position: absolute;
    padding-top: 5px;
    top: 1.5%;
    right: 7%;
    font-size: 50px;
}
.resume{
    position: absolute;
    top: 1.8%;
    right: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    padding: 5px;
    border: 5px double white;
}
.resume a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.resume a:visited {
    color: white;
    text-decoration: none;
}
.resume a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
.resume a:active {
    color: white;
}